<nav class = "nav">
  <ul class="navigation">
    <li class="nav"><a href="/">Home</a></li>
    <li class="nav"><a href="markets/index">Markets</a></li>
    <li class="nav"><%= link_to("Vendors", vendors_path, method: :get) %></li>
  </ul>
</nav>

  <h1 class="title"> Welcome To Farmers Markets Finder </h1>
