<nav class = "nav">
  <ul class="navigation">
    <li class="nav"><a href="/">Home</a></li>
    <li class="nav"><a href="markets">Market</a></li>
    <li class="nav"><a href="vendors">Vendors</a></li>
  </ul>
</nav>

<%= link_to("See all markets", markets_index_path) %>

<h1 class="title"> Welcome To Farmers Markets Finder </h1>
