<nav class = "nav">
  <ul class="navigation">
    <li class="nav"><a href="/">Home</a></li>
    <li class="nav"><a href="markets/index">Market</a></li>
    <li class="nav"><a href="vendors">Vendors</a></li>
  </ul>
</nav>

  <h1> Welcome To Farmers Markets Finder </h1>

<%= link_to("See all markets", markets_index_path) %>
