<h1> Edit Product </h1>
<h2 class="link"><%= link_to "back", vendors_path%></h2>
<form action="/vendors/:vendor_id/products/:id" method="patch" accept-charset="utf-8">

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <label for="name">Name</label>
  <input type="text" name="vendor[name]" value="" id="name">

  <label for="description">Description</label>
  <input type="text" name="vendor[description]" value="" id="description">

  <label for="status">Completed</label>
  <input type="checkbox"  name="vendor[status]" value="true" id="status">

  <label for="date">Date Completed</label>
  <input type="date" name="vendor[date]" id="date">



  <input type="submit" value="Submit">
</form>
