
<h1 class= "title">All Vendors</h1>


<nav class = "nav">
  <ul class="navigation">
    <li class="nav"><a href="/">Home</a></li>
    <li class="nav"><%= link_to("Markets", markets_path, method: :get) %></li>
  </ul>
</nav>
<h1 class ="title">All Vendors</h1>
<h2 class="link"><%= link_to("Create a new Vendor", new_vendor_path, method: :get) %></h2>


<% @vendor.each do |t| %>
  <h2 class="title"><%= "Vendor: #{t.name}" %></h2>
<h2 class="link"><%= link_to("View details", vendor_path(t), method: :get) %></h2>
 <% end %>
