<h1>All Markets</h1>

<p><%= link_to("Create a new market", new_market_path, method: :get) %></p>

  <% @markets.each do |market| %>
  <h2><%= "Market: #{market.name}" %></h2>
  <h2 class="link"><%= link_to("View details", market_path(market), method: :get) %></h2>
<% end %>
