

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Farmers Market Finder</title>
        <link href="../assets/stylesheets/application.css" rel="stylesheet">
        <link href="../../assets/stylesheets/welcome.scss" rel="stylesheet">

  </head>
      <body>


    

<!-- <div class="img" style="background-image:url('./images/costcosuccess.jpg');"></div>
<div class="img" style="background-image:url('./images/creepynatasha.jpg');"></div>
<div class="img" style="background-image:url('./images/danceparty.jpg');"></div>
<div class="img" style="background-image:url('./images/nbw.jpg');"></div>
<div class="img" style="background-image:url('./images/nmchelan.jpg');"></div>
<div class="img" style="background-image:url('./images/sass.jpg');"></div>
<div class="img" style="background-image:url('./images/grace.jpg');"></div>
<div class="img" style="background-image:url('./images/utterboredom.jpg');"></div>
<div class="img" style="background-image:url('./images/mybirthday.jpg');"></div>
<div class="img" style="background-image:url('./images/santanatasha.jpg');"></div>
<div class="img" style="background-image:url('./images/utterboredom.jpg');"></div>
<div class="img" style="background-image:url('./images/yogan.jpg');"></div> -->

</body>
</html>
