<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>

<!-- <div class = "img">
<div class="img" style="background-image:url('/bakery.png');"></div>
<div class="img" style="background-image:url('/bread.jpg');"></div>
<div class="img" style="background-image:url('/chocolate.jpeg');"></div>
<div class="img" style="background-image:url('/straw.jpg');"></div></div> -->
<footer>copyright 2016, AMH + NRE </footer>
</body>
</html>
