<!DOCTYPE html>
<html>
<head>
  <title>FarMarRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class = "nav">
    <ul class="navigation">
      <li class="nav"><a href="welcome/index">Home</a></li>
      <li class="nav"><a href="market/index">Market</a></li>
      <li class="nav"><a href="vendor/index">Vendors</a></li>
    </ul>
  </nav>

<%= yield %>
<h1 class = "title"> Welcome to Farmers Market Finder </h1>


</body>
</html>
